@import "../../_css/common";

.checkout {
  width: 100%;

  @include small-break {
    margin-top: 0px;
  }
}

.heading{
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  padding: 30px;
}